
body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .4));
    background-image: url(https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_1280.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.oury{
    display: flex;
    align-items: center;
    justify-content: center;
}
